*{
    margin:0px;
    padding: 0px;
box-sizing: border-box;
}
a{
    text-decoration: none;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
    
}
.nav.links{
    flex:1;
    text-align: center;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 20px 80px;
position: relative;
padding-left: 10;
}

.nav-links ul li a{
    color:black;
    text-decoration: none;
    font-size:x-large;
    
}


#Review {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.review-heading{

   letter-spacing: 1px;
   margin: 30px 0px;
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.review-heading h1{
font-size: 2.2rem;
font-weight: 500;
background-color: #202020;
color:#ffff;
padding: 10px 20px;e

}

.review-heading span {
font-size: 1,3rem ;
color: #252525;
margin-bottom: 10px;
letter-spacing: 2px;
text-transform: uppercase;

}

.review-boxcontainer{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;

}

.testimonialbox{

    width:900px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding:20px;
    margin: 15px;
    cursor:pointer;
}

.bookspic{
width:50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}

.bookspic img{
width:100%;
height:100%;
object-fit: cover;
object-position: center;



}

.booksname{
    display:flex;
    align-items: center;
}

.name{
    display: flex;
    flex-direction: column;

}

.name strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name span{
color: #979797;
font-size:0.8rem; 

}
.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mycomments p{

    font-size: 0.9rem;
    color:#4b4b4b;

}

.testimonialbox:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:106px){
.testimonialbox{
    width:45%;
    padding:10px;
}
}

@media(max-width:790px){
    .testimonialbox{width: 100%;}
    .review-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}